<article class="mb-10">
    <p class="mb-10 grid gap-1">
        <span>
            Entusiasta del desarrollo de Software, especializado en JavaScript.
        </span>
        <span>
            Me encantan las nuevas tecnologías y poder trastear con ellas de cualquier stack tecnológico. 
        </span>
    </p>

    <ul style={{ listStyle: "disc" }} class="grid gap-4">
        <li>
            Etica Laboral:
            <p class="grid gap-1">
                <span>
                Creo firmemente en la honestidad y la transparencia en todas mis acciones y decisiones. 
                </span>
                <span>
                Mi compromiso con la calidad me lleva a buscar siempre la mejora continua y a aportar valor en cada proyecto en el que participo. 
                </span>
                <span>
                Respeto y valoro la diversidad, y me esfuerzo por crear un ambiente de trabajo inclusivo y positivo, donde cada miembro del equipo se sienta valorado y apoyado.
                </span>
            </p>
        </li>

        <li>
            Soft Skills Destacadas:
            <p class="grid gap-2">
                <span>
                - Comunicación Efectiva: Puedo transmitir ideas de manera clara y concisa, facilitando el entendimiento y la colaboración entre los miembros del equipo.
                </span>
                <span>
                - Pensamiento Crítico: Analizo situaciones desde múltiples perspectivas antes de tomar decisiones informadas y reflexivas.
                </span>
                <span>
                - Trabajo en Equipo: Creo que es crucial poder comunicarte, compartir ideas y trabajar en común, para llegar a soluciones más complejas y mejor diseñadas. Por ende, el trabajo en equipo es algo día a día pongo en gran importancia.
                </span>
            </p>
        </li>
    </ul>
</article>