---
import SocialPill from "../commons/SocialPill.astro"
import MailIcon from "../icons/Mail.astro"
import LinkedInIcon from "../icons/LinkedIn.astro"
---

<div class="mb-10 flex justify-between">
  <SocialPill
    href="https://linkedin.com/in/javiergalabermejo"
    class="w-80 mb-2"
  >
    <LinkedInIcon class="size-6" />
    LinkedIn
  </SocialPill>

  <SocialPill href="mailto:jgalaberdev@gmail.com" class="w-80 mb-2">
    <MailIcon class="size-6" />
    jgalaberdev@gmail.com
  </SocialPill>
</div>
